[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "twoStageDesignTMLE"]
	path = twoStageDesignTMLE
	url = https://github.com/cran/twoStageDesignTMLE
